<h1>振替を編集</h1>
<%= render partial: "form" , :locals => {url: user_account_exchange_path,
                                          method: :put,
                                          date: @account_exchange.date,
                                          bname: @bnames_s,
                                          aname: @anames_s,
                                          value: @account_exchange.value} %>
