<h1>新規振替</h1>
<%= render partial: "form" , :locals => {url: user_account_exchanges_path,
                                          method: :post,
                                          date: Date.today,
                                          bname: "",
                                          aname: "",
                                          value: ""} %>
