<div class="row">
  <div class="<%= @form_class %>">
    <%= f.label :pay_date, "引き落とし日を選択してください", class: "date_label" %>
    <%= f.date_select :pay_date, {}, selected: @event.pay_date, class: "form-control", id: "date" %>
  </div>
</div>

<%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>
