<h1>イベント編集</h1>
<div>

  <%= render :partial => 'form_tab', :locals => {taba: @taba, tabb: @tabb} %>

  <div class="tab-content">
    <%= render :partial => 'form', :locals => {active: @taba,
                                                aob: "a",
                                                url: user_events_up1_path,
                                                backcolor: "",
                                                date_s: @event.date,
                                                genre: @genres_e,
                                                genre_s: @genre_s,
                                                account: @accounts_e,
                                                account_s: @account_s,
                                                memo: @event.memo,
                                                money: @event.value} %>

    <%= render :partial => 'form', :locals => {active: @tabb,
                                                aob: "b",
                                                url: user_events_up2_path,
                                                backcolor: "income",
                                                date_s: @event.date,
                                                genre: @genres_i,
                                                genre_s: @genre_s,
                                                account: @accounts_i,
                                                account_s: @account_s,
                                                memo: @event.memo,
                                                money: @event.value} %>
  </div>
</div>
