<h1>イベント一覧</h1>
<p><%= link_to "新規イベント作成", new_user_event_path(params[:user_id]) %></p>
<p><%= link_to "アカウント一覧", user_accounts_path(params[:user_id]) %></p>
<p><%= link_to "ジャンル一覧", user_genres_path(params[:user_id]) %></p>
