<h1>新規イベント作成</h1>
<div>

  <%= render :partial => 'form_tab', :locals => {taba: "active", tabb: ""} %>

  <div class="tab-content">
    <%= render :partial => 'form', :locals => {active: "active",
                                                aob: "a",
                                                url: user_events1_path,
                                                backcolor: "",
                                                date_s: Date.today,
                                                genre: @genres_e,
                                                genre_s: "",
                                                account: @accounts_e,
                                                account_s: "",
                                                memo: "",
                                                money: ""} %>

    <%= render :partial => 'form', :locals => {active: "",
                                                aob: "b",
                                                url: user_events2_path,
                                                backcolor: "income",
                                                date_s: Date.today,
                                                genre: @genres_i,
                                                genre_s: "",
                                                account: @accounts_i,
                                                account_s: "",
                                                memo: "",
                                                money: ""} %>
  </div>
</div>
