<h1>検索結果</h1>
<div class="search-h_const">検索する</div>
<div class="search_wrapper_const" id="search_close">
  <%= render :partial => 'event_search', :locals => {search: @search,
                                                      iae: @iae,
                                                      genre: @genre,
                                                      account: @account,
                                                      money1: @money1,
                                                      money2: @money2,
                                                      date1: @date1,
                                                      date2: @date2,
                                                      date_or_not: @date_or_not,
                                                      money_or_not: @money_or_not,
                                                      css1: @css1,
                                                      css2: @css2} %>
</div>

<%= render "event_index" %>

<div class="search_total">合計収支　¥<%= @total.to_s(:delimited) %></div>
