/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 * {
  margin:0; padding:0;
}

body{
   font-family: -apple-system,BlinkMacSystemFont,sans-serif;
   text-align: center;
   font-size: 18px;
 }

 .wrapper{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
 }

/* header */
 header {
   width: 100%;
   padding: 15px 0;
   margin: 0 auto;
   text-align: center;
   background-color: #F0F8FF;
 }

header .headline{
  font-size: 50px;
}

header .nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 20px;
}

header .nav-list-item {
  list-style: none;
  display: block;
  margin: auto;
  font-size: 20px;
}

header #unlogin1 {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 20px;
}

header #unlogin2 {
  list-style: none;
  display: inline-block;
  margin: auto;
  margin-right: 20px;
  font-size: 20px;
}

header .dropdown{
  text-align: right;
}

header .dropdown-menu{
  background-color: #F0F8FF;
}

header .btn{
  background-color: LightBlue;
  color: inherit;
}

header #border-bottom{
    border-bottom: 1px solid #ddd
}
/* ------------------------------ */

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 20px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.btn{
  margin: 15px;
  background-color: LightBlue;
  font-weight: bold;
  font-size: 20px;
  color: inherit;
}

#error{
  color: red;
  list-style: none;
}

.many-table{
  border: 2px solid #ddd;
  background-color: #F0F8FF;
  border-radius: 30px;
  margin: 20px 0;
}

/* table */

.table th{
  text-align: center;
}

.table .false{
  background-color: Linen;
}

.table .true{
  background-color: #F0F8FF;
}

.border-right{
  border-right: 1px solid #ddd
}

#table_events{
  margin: auto;
}

#table_accounts{
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#pm{
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#account_exchanges{
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#genres{
  width: auto;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table caption{
  text-align: center;
  font-weight: bold;
}

.table .total{
  border-top:  2px solid black;
}
/* ------------------------------ */

/* form */
form{
  margin: auto;
}

label{
  font-size: 20px;
}

.date_label{
  display: block;
}

form #date{
  width: 30%;
  display: inline-block;
  font-size: 20px;
}

form #select{
  margin: auto;
  font-size: 20px;
}

form #day_select{
  width: 30%;
  margin: auto;
  font-size: 20px;
}

form #text{
  height: 70px;
  margin: auto;
  font-size: 20px;
}

form #value{
  height: 30px;
  margin: auto;
  text-align: right;
  font-size: 20px;
}

form #name{
  height: 30px;
  margin: auto;
  font-size: 20px;
}

form #user{
    height: 30px;
    margin: auto;
    font-size: 20px;
}

form .btn{
  color: inherit;
  background-color: LightBlue;
  font-size: 20px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#tab_a{
  background-color: Linen;
}

#tab_b{
  background-color: #F0F8FF;
}

/* ------------------------------ */

/* footer */
footer {
  width: 100%;
  height: auto;
  text-align: bottom;
  padding: 10px 0;
  background-color: #F0F8FF;
  position: absolute;
  bottom: 0;
}

footer .nav-list {
 text-align: center;
 padding: 10px 0;
 margin: 0 auto;
 font-size: 18px;
}

footer .nav-list-item {
  list-style: none;
  display: block;
  margin: 10px;
}

footer #footer_home{
  font-size: 20px;
}

.footer-text {
  color: #fff;
}
/* ------------------------------ */
